1994번 등차수열 <span style="color:green"></span> - 2026.01.19